* {
  font-family: "Karla", sans-serif;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #7ab6a3;
}
.header {
  position: relative;
  height: 150px;
  width: auto;
  display: flex;
  align-content: center;
}
img {
  height: 70px;
}
.header__menu {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  font-size: large;
}
ul {
  position: relative;
  list-style: none;
  display: inline-flex;
}
li {
  margin: 15px;
}
.header__input {
  border-radius: 30px;
}
.header__input::before {
  content: "Login";
}
.header__button {
  background-color: #3bd2a2;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .header__menu {
    display: none;
  }
}
.submit-box {
  position: absolute;
  top: 36px;
  right: 10px;
  margin-right: 10px;
}

.fas {
  font-size: large;
  color: #3bd2a2;
}
